*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

:root{
  --transition-delay: 1.2s;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  background-image: url("../assets/Hero-background.png");
  background-size: cover; 
  background-position: center; 

}

@media (max-width: 768px) {
  html, body {
    background-size: cover; 
    background-position:center;
  }
}

span:hover{
  cursor: pointer;

}

button{
  animation:  var(--transition-delay) pulse infinite;
}

.login-body{
  height: 100vh;
}

.box{
  border: 1px solid red;
}

.box1{
  border:1px solid green;
}

.box2{
  border:1px solid blue;
}

.books{
  padding: 50px 0 150px 0;;
}
.swiper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide{
 background-position: center;
 background-size: cover;
 width: 400px;
}

.swiper-slide img{
  display: block;
  width: 100%;
}

.image{
  width: 150px;
}

.svg{
  width: 80%;
}

.hero-container {
  min-height: 87vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row; 
  }
}

.svg {
  max-width: 100%; 
  height: auto; 
  object-fit: contain; 
}