*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
   /* outline: 1px solid red; */
}

:root{
  --transition-delay: 1.2s;
}


/* Hero Section */
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index:-1;
  background-image: url("../assets/Hero-background.png");
  background-size: cover; 
  background-position: center; 

}

@media (max-width: 768px) {
  html, body {
    background-size: cover; 
    background-position:center;
  }
}

.hero-container {
  min-height: 87vh;
  display: flex;
  flex-direction: column;
}

/* Carousel */
.swiper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide{
 background-position: center;
 background-size: cover;
 width:450px;
}

.swiper-slide img{
  display: block;
  width: 100%;
}

.image{
  width: 150px;
}

.books{
  padding: 50px 0 150px 0;;
}


/* General Responsive */

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row; 
  }
}

@media (min-width: 320px) {
  .swiper-slide{
    width:350px;
   }
}